@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter";
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box;


}



a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}


.object {
  position: relative;
  animation: mymove 5s infinite linear;
}

@keyframes mymove {
  0%, 100% {top: 50px;}
  25% {top: 70px;}
  50% {top: 100px;}
  75% {top: 70px;}
}

.custom_span span{
font-family: Sora;

}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}